<!-- <app-sidebar></app-sidebar>
<div class="main">
    <app-navbar></app-navbar>

    <div class="container-fluid">
        <h1>Homepage</h1>
    </div>
</div> -->

<!-- <h1>Homepage</h1> -->

    <div class="transbox" style="display: inline-flex;color: black;font-size: 20px;align-items: center;flex-direction: column;justify-content: space-evenly;">
        <span><p>Welcom to registration for </p>
        <p>THE NEWTON Sixth Form School</p>
        <p style="font-size: 50px; font-weight: bold;">CHARACTER MATTERS</p>
        <p>school that aims to build future leaders</p>
        <p><button style="color: white;background-color: #0f286c;font-size: 22px;border-color: #0f286c;padding: 0.2rem 1.5rem 0.2rem 1.5rem;margin-top: 1.5rem;">Start to be newtonian</button></p></span>
    </div>
